{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="dashboard">

    {% include "layout/navbar.html.twig" %}

    <div class="dashboard-body">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div>
            <p>Je suis patron</p>
            {% for order in app.user.orders %}
                <div>
                    <p>{{order.id}}</p>
                </div>
            {% endfor %}
            
        </div>
        {% endif %}
    
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <p>Je suis employé</p>
            </div>
        {% endif %}
    </div>

    
</div>





{% endblock %}
