<nav class="dashboard-navbar">
    <div class="nav-logo">
        <a href="{{ path('app_index')}}">
            <img src="{{ asset('assets/INC/Logo/logo-title-white.png')}}" alt="Logo">
        </a>
    </div>

    <div class="nav-list">
        <div class="nav-list-onglet">
            <img src="" alt="">
            <p>Informations générale</p>
            <a href="{{ path('app_index')}}"></a>
        </div>
        <div class="nav-list-onglet">
            <img src="" alt="">
            <p>Commandes</p>
            <a href=""></a>
        </div>
        <div class="nav-list-onglet">
            <img src="" alt="">
            <a href="{{ path('app_article_index')}}">Articles</a>
        </div>
        <div class="nav-list-onglet">
            <img src="" alt="">
            <p>Services</p>
            <a href=""></a>
        </div>
    </div>
</nav>